<h3>User</h3>
<p>User: <%= @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<% if @user.microblogs.any? %>
<h3>MicroBlogs (<%= @user.microblogs.count %>) </h3>
<ol class="microblogs">
        <%= render @microblogs %>
      </ol>
      <%= will_paginate @microblogs %>
    <% end %>
