<h3>User: <%= @user.name %></h3>
<%= image_tag @user.user_image.url(:medium) %>
<p>Email: <%= @user.email if @user.email %></p>
<p>Bio: <%= @user.user_bio if @user.user_bio %></p>
<% if user_signed_in? %>
	 <% if current_user.id == @user.id %>
		<% if @user.microblogs.any? %>
			<h3>MicroBlogs (<%= @user.microblogs.count %>) </h3>
			<ol class="microblogs">
	        <%= render @microblogs %>
	        </ol>
	        <%= will_paginate @microblogs %>
		<% end %>
	<% end %>
<% end %>

