<div class= "panel">
	<div class="row">
		<div class= "large-4 columns">
			<%= image_tag(app.icon.url(:medium)) %>
		</div>

		<div class= "large-8 columns">
			<h4><%= app.name%></h4><br />
			<p><%= app.description %> </p>
			<div class= "row">
				<ul class ="clearing-thumbs inline-list" data-clearing >
				<% app.app_screenshots.each do |app_screenshot| %>
					<li><%= link_to app_screenshot.image.url(:large) do %>
				  		<%= image_tag app_screenshot.image.url(:thumb), :data => { :caption => "This is a Caption" } %> 
				  		<% end %>
				  	</li>
				<% end %>
				</ul>
			</div>
		</div>
	</div>
</div>