<%= semantic_form_for @app, :html => { :multipart => true } do |f| %>

    <%= f.input :name, :as => :string %>
    <%= f.input :description, :as => :text %>
    <%= f.input :android_link, :as => :string %>
    <%= f.input :iphone_link, :as => :string %>

    <p>All Icons default sizes are 300x300 and 150x150 px. For best results upload an image that is that size.</p>
    <% if f.object.new_record? %>
        <%= f.input :icon, :as => :file, :matching => "paperclip" %>
    <% else %>
        <% image_tag(f.object.icon.url(:thumb)) %>
    <% end %>


    <div class="row">
        <p>Because Screen Shots can be different sizes all screen shots scale to specific heights. For best results upload images with a height of 480 px. Width can be different sizes for instance tablets will have wider screen shots.</p>
        <ul class ="inline-list">
        <%= f.semantic_fields_for :app_screenshots do |builder| %>

        	<% if builder.object.new_record? %>
        		<li><%= builder.input :image, :as => :file, :matching => "paperclip" %></li>
            <% else %>
            	
        	 	<li><%= link_to image_tag(builder.object.image.url(:thumb)), builder.object.image.url(:thumb) %>
        	 	<%= builder.check_box :_destroy %>
            	</li>
        	<% end %>
        <% end %>
    </div>
        <%= f.action :submit, :as => :button %>
<% end %>