<%= semantic_form_for @app, :html => { :multipart => true } do |f| %>

    <%= f.input :name, :as => :string %>
    <%= f.input :description, :as => :text %>

    <% if f.object.new_record? %>
        <%= f.input :icon, :as => :file, :matching => "paperclip" %>
    <% else %>
        <% image_tag(@app.icon.url(:thumb)) %>
        <% end %>


    <div class="row">
        <ul class ="inline-list">
        <%= f.semantic_fields_for :app_screenshots do |builder| %>

        	<% if builder.object.new_record? %>
        		<li><%= builder.input :image, :as => :file, :matching => "paperclip" %></li>
            <% else %>
            	
        	 	<li><%= link_to image_tag(builder.object.image.url(:thumb)), builder.object.image.url(:thumb) %>
        	 	<%= builder.check_box :_destroy %>
            	</li>
        	<% end %>
        <% end %>
    </div>
        <%= f.action :submit, :as => :button %>
<% end %>