<div class="fixed">
  <nav class= "top-bar">
    <ul class="title-area">

      <li>
        <h2><%= link_to "AppDomum",  root_path, :class => "textlogo" %></h2>
      </li>
      
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

  <section class="top-bar-section">
    
    <ul class="right">
      
      <li>
        <%= link_to 'Apps', apps_path %>
      </li>
      <li>
        <%= link_to 'About Us', about_path %>
      </li>
      <% if user_signed_in? %>   
        <li>
          <%= link_to 'Edit account', edit_user_registration_path %>
        </li>
        <% if current_user.has_role? :admin %>
        <li>
          <%= link_to 'Admin', users_path %>
        </li>
      <% end %>
        <li>
          <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
        </li>
      <% else %>
        <li>
          <%= link_to 'Login', new_user_session_path %>
        </li>
        <li>
          <%= link_to 'Employee Sign up', new_user_registration_path %>
        </li>
      <% end %>
    </ul>
  </section>
  </nav>
</div>

  <div class= "fixed-icon">
    <%=link_to image_tag("officialLogo-100x197.png", :size => "100x197", :class => "logo" ), root_path %>
  </div>
  <div class ="errors">
  <%= render 'layouts/messages' %>
</div>


